<app-card class="status-list">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <app-card-title>{{title | uppercase}}</app-card-title>
        <app-list-toggle (listTypeEvent)="onToggle($event)" class="tui-card-toggle"></app-list-toggle>
    </div>
    <app-card-content>
        <app-folder-list *ngIf="currentListType===listType.Folder"></app-folder-list>
        <app-device-list *ngIf="currentListType===listType.Device"> </app-device-list>
    </app-card-content>
</app-card>