<modal id="idqr" status="info" icon="fas fa-qrcode" heading="{{'Device Identification' | translate}} - {{deviceName(currentDevice)}}" large="yes" closeable="yes">
  <div class="modal-body">
    <div class="well well-sm text-monospace text-center" select-on-click>{{currentDevice.deviceID}}</div>
    <img ng-if="currentDevice.deviceID" class="img-thumbnail" ng-src="qr/?text={{currentDevice.deviceID}}" alt="qr code" />
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default" ng-click="copyToClipboard(currentDevice.deviceID)" ng-disabled="editingDeviceNew() && !deviceEditor.deviceID.$valid">
        <span class="fa fa-lg fa-clone"></span>&nbsp;<span translate>Copy to Clipboard</span>
      </button>
      <button type="button" class="btn btn-default" ng-click="shareDeviceIdConfirmationModal('email')" ng-disabled="editingDeviceNew() && !deviceEditor.deviceID.$valid">
        <span class="fa fa-lg fa-envelope-o"></span>&nbsp;<span translate>Share by Email</span>
      </button>
      <button type="button" class="btn btn-default" ng-click="shareDeviceIdConfirmationModal('sms')" ng-disabled="editingDeviceNew() && !deviceEditor.deviceID.$valid">
        <span class="fa fa-lg fa-comments-o"></span>&nbsp;<span translate>Share by SMS</span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
      <span class="fas fa-times"></span>&nbsp;<span translate>Close</span>
    </button>
  </div>
</modal>
