<modal id="share-device-confirmation" status="warning" icon="{{shareDeviceParams.icon}}" heading="{{shareDeviceParams.heading}}" large="no" closeable="yes">
  <div class="modal-body">
    <p>
      <span translate>The following content will automatically be inserted into a message.</span>
      <span ng-switch="shareDeviceParams.type">
        <span ng-switch-when="email">
          <span translate>You should then use your own email account to send it.</span>
          <span translate>Proceed only if you have a registered email client.</span>
        </span>
        <span ng-switch-when="sms">
          <span translate>You should then use your own phone number to send it.</span>
          <span translate>Proceed only if you have a registered SMS client.</span>
        </span>
      </span>
      <span translate>Alternatively, copy the content to clipboard and send it manually yourself.</span>
    </p>
    <hr>
    <div ng-if="shareDeviceParams.type == 'email'">
      <h5 translate>
        Subject:
      </h5>
      <pre style="word-break: normal;"
        ><code>{{shareDeviceParams.subject}}</code
        ><button type="button" class="btn btn-default pull-right" ng-click="copyToClipboard(shareDeviceParams.subject)" tooltip data-original-title="{{ 'Copy to Clipboard' | translate }}">
          <span class="fa fa-clone"></span>
        </button
      ></pre>
    </div>
    <h5 translate>
      Body:
    </h5>
    <pre style="word-break: normal;"
      ><code>{{shareDeviceParams.body}}</code
      ><button type="button" class="btn btn-default pull-right" ng-click="copyToClipboard(shareDeviceParams.body)" tooltip data-original-title="{{ 'Copy to Clipboard' | translate }}">
        <span class="fa fa-clone"></span>
      </button
    ></pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary pull-left btn-sm" ng-click="shareDevice()">
      <span ng-switch="shareDeviceParams.type">
        <span ng-switch-when="email" class="fa fa-envelope-o"></span>
        <span ng-switch-when="sms" class="fa fa-comments-o"></span>
      </span>
      &nbsp;<span translate>Share</span>
    </button>
    </button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
      <span class="fas fa-times"></span>&nbsp;<span translate>Cancel</span>
    </button>
  </div>
</modal>
