language: go

go:
 - 1.2
 - 1.3
 - 1.4
 - 1.5
 - 1.6
 - tip

before_install:
  - "if [[ $TRAVIS_GO_VERSION == 1.6 ]]; then go get -v github.com/golang/lint/golint; fi"

script:
  - go test -race -cpu 1,4 -v
  - go test -race -v -tags appengine
  - "if [[ $TRAVIS_GO_VERSION == 1.6 ]]; then go vet ./...; fi"
  - "if [[ $TRAVIS_GO_VERSION == 1.6 ]]; then golint .; fi"

sudo: false
