<modal id="remoteNeed" status="info" icon="exchange" heading="{{'Out of Sync Items' | translate}} - {{deviceName(remoteNeedDevice)}}" large="yes" closeable="yes">
  <div class="modal-body">
    <div class="panel panel-default" ng-repeat="folder in remoteNeedFolders" ng-if="remoteNeed[$index].files.length > 0">
      <button class="btn panel-heading" data-toggle="collapse" data-target="#remoteNeed-{{$index}}" aria-expanded="false">
        <h4 class="panel-title">
          <span>{{folderLabel(folder)}}</span>
        </h4>
      </button>
      <div id="remoteNeed-{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-striped table-dynamic">
            <thead>
              <tr>
                <th translate>Path</th>
                <th translate>Size</th>
                <th tooltip data-original-title="{{'Device which has done the latest modification' | translate}}" data-container="body" translate>Mod. Device</th>
                <th tooltip data-original-title="{{'Time when this item has been last modified' | translate}}" data-container="body" translate>Mod. Time</th>
              </tr>
            </thead>
            <tr dir-paginate="file in remoteNeed[$index].files | itemsPerPage: remoteNeed[$index].perpage" current-page="remoteNeed[$index].page" total-items="completion[remoteNeedDevice.deviceID][folder].needCount" pagination-id="'remoteNeed-' + $index">
              <td>{{file.name}}</td>
              <td><span ng-hide="file.type == 'DIRECTORY'">{{file.size | binary}}B</span></td>
              <td ng-if="file.modifiedBy">{{friendlyNameFromShort(file.modifiedBy)}}</td>
              <td ng-if="!file.modifiedBy"><span translate>Unknown</span></td>
              <td>{{file.modified | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            </tr>
          </table>

          <dir-pagination-controls on-page-change="refreshRemoteNeed(newPageNumber, remoteNeed[$index].perpage, $index)" pagination-id="'remoteNeed-' + $index"></dir-pagination-controls>
          <ul class="pagination pull-right">
            <li ng-repeat="option in [10, 25, 50]" ng-class="{ active: remoteNeed[$index].perpage == option }">
              <a href="#" ng-click="refreshRemoteNeed(remoteNeed[$parent.$index].page, option, $parent.$index)">{{option}}</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</modal>
