/syncthing
/stdiscosrv
*.tar.gz
*.zip
*.asc
*.deb
.*.swp
.*.swo
*.orig
*.exe
.jshintrc
coverage.out
files/pidx
bin
perfstats*.csv
coverage.xml
syncthing.sig
RELEASE
deb
*.bz2
/repos
/proto/scripts/protoc-gen-gosyncthing
/gui/next-gen-gui
