<div class="{{elevation}} tui-card">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div class="tui-card-title">{{title | uppercase}}</div>
        <app-list-toggle (listTypeEvent)="onToggle($event)" class="tui-card-toggle"></app-list-toggle>
    </div>
    <div class="tui-card-content">
        <app-folder-list *ngIf="currentListType===listType.Folder"></app-folder-list>
        <app-device-list *ngIf="currentListType===listType.Device"> </app-device-list>
    </div>
</div>