<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SyncthingServiceWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SyncthingServiceWrapper.Properties.Settings>
      <setting name="syncthingArguments" serializeAs="String">
        <value>-no-console  -no-browser </value>
      </setting>
      <setting name="baseUrl" serializeAs="String">
        <value>http://127.0.0.1:8080/</value>
      </setting>
    </SyncthingServiceWrapper.Properties.Settings>
  </userSettings>
</configuration>