<div id="settings" class="modal fade" tabindex="-1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><span class="fa fa-cog"></span><span translate>Settings</span></h4>
    </div>
    <div class="modal-body">
      <form role="form" name="settingsEditor">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label translate for="DeviceName">Device Name</label>
              <input id="DeviceName" class="form-control" type="text" ng-model="tmpOptions.deviceName">
            </div>
            <div class="form-group">
              <label translate for="ListenAddressStr">Sync Protocol Listen Addresses</label>
              <input id="ListenAddressStr" class="form-control" type="text" ng-model="tmpOptions._listenAddressStr">
            </div>
            <div class="form-group" ng-class="{'has-error': settingsEditor.MaxRecvKbps.$invalid && settingsEditor.MaxRecvKbps.$dirty}">
              <label translate for="MaxRecvKbps">Incoming Rate Limit (KiB/s)</label>
              <input id="MaxRecvKbps" name="MaxRecvKbps" class="form-control" type="number" ng-model="tmpOptions.maxRecvKbps" min="0">
              <p class="help-block">
                <span translate ng-if="settingsEditor.MaxRecvKbps.$error.min && settingsEditor.MaxRecvKbps.$dirty">The rate limit must be a non-negative number (0: no limit)</span>
              </p>
            </div>
            <div class="form-group" ng-class="{'has-error': settingsEditor.MaxSendKbps.$invalid && settingsEditor.MaxSendKbps.$dirty}">
              <label translate for="MaxSendKbps">Outgoing Rate Limit (KiB/s)</label>
              <input id="MaxSendKbps" name="MaxSendKbps" class="form-control" type="number" ng-model="tmpOptions.maxSendKbps" min="0">
              <p class="help-block">
                <span translate ng-if="settingsEditor.MaxSendKbps.$error.min && settingsEditor.MaxSendKbps.$dirty">The rate limit must be a non-negative number (0: no limit)</span>
              </p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input id="UPnPEnabled" type="checkbox" ng-model="tmpOptions.upnpEnabled"> <span translate>Enable UPnP</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input id="GlobalAnnEnabled" type="checkbox" ng-model="tmpOptions.globalAnnounceEnabled"> <span translate>Global Discovery</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="checkbox">
                  <label ng-if="upgradeInfo">
                    <input id="AutoUpgradeEnabled" type="checkbox" ng-model="tmpOptions.autoUpgradeEnabled"> <span translate>Automatic upgrades</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input id="LocalAnnEnabled" type="checkbox" ng-model="tmpOptions.localAnnounceEnabled"> <span translate>Local Discovery</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label translate for="GlobalAnnServersStr">Global Discovery Server</label>
              <input ng-disabled="!tmpOptions.globalAnnounceEnabled" id="GlobalAnnServersStr" class="form-control" type="text" ng-model="tmpOptions._globalAnnounceServersStr">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label translate for="Address">GUI Listen Addresses</label>
              <input id="Address" class="form-control" type="text" ng-model="tmpGUI.address">
            </div>
            <div class="form-group">
              <label translate for="User">GUI Authentication User</label>
              <input id="User" class="form-control" type="text" ng-model="tmpGUI.user">
            </div>
            <div class="form-group">
              <label translate for="Password">GUI Authentication Password</label>
              <input id="Password" class="form-control" type="password" ng-model="tmpGUI.password">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="UseTLS" type="checkbox" ng-model="tmpGUI.useTLS"> <span translate>Use HTTPS for GUI</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="StartBrowser" type="checkbox" ng-model="tmpOptions.startBrowser"> <span translate>Start Browser</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="UREnabled" type="checkbox" ng-model="tmpOptions.urEnabled"> <span translate>Anonymous Usage Reporting</span> (<a translate ng-click="showURPreview()" href="#">Preview</a>)
                </label>
              </div>
            </div>

            <hr />

            <div class="form-group">
              <label translate>API Key</label>
              <div class="well well-sm text-monospace">{{tmpGUI.apiKey || "-"}}</div>
              <button type="button" class="btn btn-sm btn-default" ng-click="setAPIKey(tmpGUI)">
                <span class="fa fa-repeat"></span>&nbsp;<span translate>Generate</span>
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm" ng-click="saveSettings()">
        <span class="fa fa-check"></span>&nbsp;<span translate>Save</span>
      </button>
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
        <span class="fa fa-times"></span>&nbsp;<span translate>Close</span>
      </button>
    </div>
  </div>
</div>
</div>
