/* Remote Devices connection-quality indicator */
.rd-rec-0 {
    -webkit-mask: url('../../vendor/bootstrap/fonts/reception-0.svg') no-repeat 50% 50%;
    mask: url('../../vendor/bootstrap/fonts/reception-0.svg') no-repeat 50% 50%;
}

.rd-rec-1 {
    -webkit-mask: url('../../vendor/bootstrap/fonts/reception-1.svg') no-repeat 50% 50%;
    mask: url('../../vendor/bootstrap/fonts/reception-1.svg') no-repeat 50% 50%;
}

.rd-rec-2 {
    -webkit-mask: url('../../vendor/bootstrap/fonts/reception-2.svg') no-repeat 50% 50%;
    mask: url('../../vendor/bootstrap/fonts/reception-2.svg') no-repeat 50% 50%;
}

.rd-rec-3 {
    -webkit-mask: url('../../vendor/bootstrap/fonts/reception-3.svg') no-repeat 50% 50%;
    mask: url('../../vendor/bootstrap/fonts/reception-3.svg') no-repeat 50% 50%;
}

.rd-rec-4 {
    -webkit-mask: url('../../vendor/bootstrap/fonts/reception-4.svg') no-repeat 50% 50%;
    mask: url('../../vendor/bootstrap/fonts/reception-4.svg') no-repeat 50% 50%;
}
  
.rd-rec { 
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.rd-rec-clr {
    background-color: #aaa; 
}