@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v9/CcKI4k9un7TZVWzRVT-T8yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  padding-bottom: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul+h5 {
  margin-top: 1.5em;
}

.text-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  border-top: none;
}

.logo {
  margin: 0;
  padding: 0;
  top: -5px;
  position: relative;
}

.list-no-bullet {
  list-style-type: none
}

.li-column {
  display: inline-block;
  min-width: 7em;
  margin-right: 1em;
  background-color: rgb(236, 240, 241);
  border-radius: 3px;
  padding: 1px 4px;
  margin: 2px 2px;
}
.li-column span.data {
  margin-left: 0.5em;
  min-width: 10em;
  text-align: right;
  display: inline-block;
}

.ng-cloak {
  display: none !important;
}

.table th {
  white-space: nowrap;
  font-weight: 400;
}

.table td {
  padding-left: 20px !important;
}

.table td.small-data {
  white-space: nowrap;
}

table.table-condensed {
  table-layout: fixed;
}
table.table-condensed td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width:767px) {
  table.table-condensed td {
    /* for mobile phones to allow linebreaks in long repro folder/shared with
     * columns. */
    white-space: normal;
  }
}

.panel-success {
    border-color: #29b74e;
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: #2ecc71;
    border-color: #29b74e;
}

.panel-info {
    border-color: #7f4bab;
}
.panel-info>.panel-heading {
    color: #fff;
    background-color: #9b59b6;
    border-color: #7f4bab;
}
