<configuration version="12">
    <folder id="default" path="s2" ro="false" rescanIntervalS="15" ignorePerms="false" autoNormalize="true">
        <device id="AGTUOYD-75LBL6P-D7BQ5AU-MS7LGWV-L3JK2WL-ZDH6JHU-WP5FW3B-7LCI4QY"></device>
        <device id="A4I7HOE-LG37CUP-75BBW6C-3GQAJD3-A62J3JH-27WP6HP-ANRO4CV-DJXGQQP"></device>
        <device id="BWUC5LF-EJKUDG5-5BWIGW7-6EUSVTP-SQQKE7N-34BMF4S-MEYKVSF-GKYLZQM"></device>
        <device id="B5EYIHZ-G2BCQW7-XUYLFAM-EKL357E-34A7FPI-BJEVUBQ-FM3RYZV-B4VXMAN"></device>
        <device id="CYY7EXF-FETEWLN-NECQLHQ-7AKTZBF-ZIF6UDA-JX5BBCS-P57PWDH-HZ4SPAG"></device>
        <device id="DTD5YM7-N2ROWRG-XGUQAMF-LEX4L7R-IMITENY-ITRZ6B6-EG6EM5G-NPLTXQM"></device>
        <device id="EF2IQCX-PJABWXR-PGWKWCB-UWFXRLS-HMAPMKS-DM3FL6P-EGGUZHI-QD7SZQ2"></device>
        <device id="ERCSTOP-JNNZZAP-5HRSMVN-ECMD2LW-SI2K3VG-DFAP6IF-DAQS2GU-B7YP5AS"></device>
        <device id="E2JDJZU-L4TRV7U-BAOTAU3-DSQXAGQ-RPCHMPG-CRRLNPF-PESKALA-APMMKAG"></device>
        <device id="E3INVD4-KAN74I6-Z62PKXX-TY5QQCV-ON3M6ZK-QLRQDAF-S72IJPA-M2QEBAF"></device>
        <device id="GBLORYG-IUD2W35-LW6COXR-YDFKA4U-M3XYMC7-SPICRA5-AISFUP4-V6BP2QH"></device>
        <device id="GCCMMBG-7AR3CI7-ZJFCHQX-JYNOLZM-M6IXCFZ-CDMTVSM-JFYPYW5-7M7VBQE"></device>
        <device id="GF7TM5G-KMZGJIK-EQIT2SJ-3SIF2OD-TAZT7SZ-GBAQTYU-MPKVRNO-CHFCOQF"></device>
        <device id="G7RASRK-VPN3EX5-4P4T3HC-FAIYTGZ-EC2447Q-N4U3LTX-2AWDRNV-5GCAIQF"></device>
        <device id="HUQOKQF-TN7NOYA-QVOD3XM-IVOFXL3-VBMGT3I-ISAU3IK-F4R53AL-LW7DIAS"></device>
        <device id="HXQ3LT2-WSVAJ3A-GJ5I5ZH-IWDP5GI-S3GS4OA-PXN4P3Q-OW2PII3-VGFMYQS"></device>
        <device id="H3D2DBW-MMTLPFW-G3CRCW4-3NSCRPW-VBDHORV-FLKDI42-G6PWOCJ-PWR3RAR"></device>
        <device id="ITEQQDN-LEHJEOC-VTDGVJZ-SLBPHWQ-UQBKVGR-ZOVTWIQ-DJKDICL-7R3MXAC"></device>
        <device id="IUYSY3R-AXDNEIY-LAO6NXI-I5MKA43-KZPLJRN-3VEIQBH-HNIDNPM-EKBPHQZ"></device>
        <device id="I6KAH76-66SLLLB-5PFXSOA-UFJCDZC-YAOMLEK-CP2GB32-BV5RQST-3PSROAU"></device>
        <device id="I6WZWWW-UYLBFET-PT6ZKYD-7HHMMG5-6OL32VC-BGIRMXF-X3SVOOJ-6X6NCAA"></device>
        <device id="JEDEAZS-2XG6PBK-XH6YO7A-MIJDGVJ-T5F5K2U-54B7FGX-3LSE276-TS4OPAA"></device>
        <device id="JMFJCXB-GZDE4BN-OCJE3VF-65GYZNU-AIVJRET-3J6HMRQ-AUQIGJO-FKNHMQU"></device>
        <device id="JWOQKQO-7P4PIC2-S5FSWKL-W7PLCEX-CKGPWC4-K4JIMBN-SXVJ7A7-4B3SBAV"></device>
        <device id="JXD7CKH-CJSCY5H-WPHWGX5-GVX4756-ETN5V75-TUSMNWA-U4CMZKL-SUIECQA"></device>
        <device id="KBF6UC5-EPITJYZ-X44J3HA-T4FQI2S-YQDJKWR-LAN4DHR-3U5IITU-DXKIHQV"></device>
        <device id="K6SK7XX-G4FULRB-SH5K2TI-6D6XH7F-JD4WWGO-M27HIDN-SP42GV6-4ZXRPAA"></device>
        <device id="LCRQQLB-DDHHZYP-I3AOYJV-QM4PVGA-EWXIOOV-MPOWD4O-D2SEJJR-REVCEAG"></device>
        <device id="LE326EH-B2YGJM7-GZPNLBA-5VCP56V-7E3YXR5-6AWYHH7-7D7RM7U-W4UWWAF"></device>
        <device id="L3O24ND-FZJV3YJ-ENMNFCR-37JGV3O-SJFJ7QS-DF5Q2PZ-6HCMOTN-SBR6XAC"></device>
        <device id="MIPR4A5-RSTWR5H-TQMC2U7-42ALC53-4XJM4JS-SFNWOVJ-IXRSXFG-YDVKJAR"></device>
        <device id="MLRYMG7-GXGHVI4-XMUKXFM-O5S47ZK-HA5EEO5-PBZHOBB-XDWVCWY-NHUCHAB"></device>
        <device id="MR2JU7Z-H4ZV2RB-EKXLZKH-FKHMOZE-7D2TBKZ-Y74VF6G-KZQXSP2-IQQQAAJ"></device>
        <device id="MWY74KM-POEQ3FU-2YL6RPG-WYNPGC4-DYPQGD7-Y5YVNXM-VHOVUIZ-55XKQAV"></device>
        <device id="M4XUDLI-SSGNKGQ-4MF5Y6G-PHWORVZ-DOC32T7-OHSNSDL-DUL35BS-7JOK6QG"></device>
        <device id="M5DLJSZ-JUZFWU2-IG5A4YM-KJOY3CM-4VGKZ5J-3T6W2U4-Q2OU5YX-4WYSDAH"></device>
        <device id="NBBGMT5-WNFEVJY-O4OJOCW-TP6DRZ7-ANYOLHV-VM7FZAW-MEWDMG4-JGG2SQJ"></device>
        <device id="NLZPNMD-5YVISJK-IFHJ34M-NVEPECF-UXQS76N-FGHDAJV-UBWQXKB-U6TYYAQ"></device>
        <device id="NYXFPET-DC2EEJF-J5OCH2M-SQMDECI-6YIKFTV-GH33KQL-5P6KBJE-OWHBWAO"></device>
        <device id="OCWOORB-VATNSFB-QHVMLT7-X3QV57K-Q3BUZX5-OGFWFKU-HN5BHN2-TJXF6QU"></device>
        <device id="ODTJXGL-X7K34PU-6BMRZMH-ILV2Y3N-ARIYV7Y-PMYBT32-Y2VKNBR-QPINRA2"></device>
        <device id="OT4BAAF-ZS5FS5B-JLYNOUM-HCFQWCT-OCVIRAO-GDLKTQE-X7RPNZI-M2HCNAX"></device>
        <device id="OWPGT5M-5OJXFW6-P4FJFGC-H6CJSU4-DA2CNIB-4QRYYYU-UZ3AKAD-WYXBRAZ"></device>
        <device id="OWPUKMW-FXENNYN-7MQCX3X-67XCUKQ-AUVMN2C-F3SUGFX-26BFYVV-OMW5AQE"></device>
        <device id="OXM6SFB-FD3AZM2-QHJBR5Y-6STJHI6-WF5JERD-TZEYHPK-LDPXYVN-AJKR2QO"></device>
        <device id="OYKHZXE-MOLBHOE-KVETLTB-Y54RWWS-F2HAJGE-GGXQLTM-NJVSP47-3POLZQQ"></device>
        <device id="O4PERHF-WHQ37EL-FT7HYBW-VBGCIS3-YQ3COL2-U5ZGEXM-EL5FSSM-ZP56ZQ6"></device>
        <device id="O6VSA2Z-7VCLERR-EKS2GXJ-BWT4LX3-Y74EC6Y-NEGCYV4-EQGK4PQ-NP7ISQS"></device>
        <device id="P4V5NMO-73JLLCG-NBYG3C3-OF7MWFV-IVUQQWA-UQ3KBB6-JPJSCK3-RAS57QG"></device>
        <device id="P577DBJ-ITUNQII-WMHA3UY-6WAVP2P-IAP572Z-LEM6YD5-OMEBTFY-YM4X3A3"></device>
        <device id="QCD5RQP-ZQSFLO4-2RQGLW7-YKA6TDN-MXB6O3M-4PFPQNH-JZBL2N7-RGQOZAP"></device>
        <device id="QREAA37-ICZFMS7-FVNGF7M-2JYMFKY-YSDPWGC-C4BZBC7-75L5ZJR-FVJU2AK"></device>
        <device id="QRIW57C-WKTEK2K-ID6O2MJ-ZE6NPWI-O6PQGW3-FJFYNXR-DFZJBQG-KNOSQQA"></device>
        <device id="Q3YKNQJ-IXKUX26-SDHK3BZ-35VHPEP-EJZAZEY-OHGWAU7-UKOALGG-SRZKUQB"></device>
        <device id="RPUIMSU-AHFXCTJ-7KDARKR-FLG2SGO-ESKJM4W-UPIKKIS-TBE54TS-IO7H4A2"></device>
        <device id="SFI5L36-DZWIMOH-2NQFA4M-PRXMOK5-KWEVXUX-4S275DG-VYQGGL6-SYCBHAU"></device>
        <device id="SIFTJDC-TFXN3UO-R4OU5SU-QLWQI6S-GOVK2W7-5FIRXMT-NDQDEOS-QKRNKAW"></device>
        <device id="S265B7B-7EQMTSW-OJPIY4M-DQIXWSI-KLLY3F7-UV6HXV2-S4T7QAZ-EH5HFQP"></device>
        <device id="S6NYHHM-ESHLKLA-OXMV67M-DVXHJ4E-V25L4SX-XYFTAK5-U3AKOYA-HPD4VQI"></device>
        <device id="TG2IQLL-TE7EGZT-AS4ALGD-DLSQTDV-I25MZA6-2DNKP4B-22W3BKD-2KABIQM"></device>
        <device id="UOXOO6P-3622WV5-3HQYM6K-GUQCWRC-ACOPLM4-2YQZWOP-SEFZ2EO-UDZBYQ5"></device>
        <device id="UPY5OKV-B45WUHF-7CBOU2P-PH4LZWW-3EDTER7-CFDVWC2-E36X6GV-YIIFPQ5"></device>
        <device id="UWGJS6X-HSQ4HES-BPK7YEP-56ADS6K-ZUOENVG-LN3MV63-WWTZUW2-CV5GHAU"></device>
        <device id="VGDXYCT-UO7OITX-CGDJFEP-L6ZINSG-AYCCRO6-7GPKIMV-HD6CQFI-YOEJTQI"></device>
        <device id="VU2UR7B-LRPMF5W-J445QXA-MODPRZR-SAWQCFG-DMMQXOO-BLFIZXM-A7U4TAV"></device>
        <device id="WNYCYQB-Q5YIKPA-D5MAGBM-P2JPZAW-P76Z7HS-UZAQXC7-OVNFBA2-6ER5FAK"></device>
        <device id="W6EB223-K4GVWRO-FJEDWXD-7DPWXBR-JVYUURK-ORUK7LA-CZTET3T-A5AX6AC"></device>
        <device id="XAVVLUZ-2TRR2FG-5LQIOGK-DQ4KWKZ-LVFR2XU-R7Z3RNF-T2BVMS5-WB7BYA7"></device>
        <device id="XBCCE5D-L25CJXJ-R7R6P5D-5SFN6NH-25OMLPF-6MWZBXP-6AB7YKS-NTOMLAZ"></device>
        <device id="XHRWIUQ-3B3XUMB-ZZLVZ4B-WPBJ4DI-HOJ45ML-ISHX6RG-Q6U75IP-2JTDXQ5"></device>
        <device id="XQYUAOQ-23CLCOK-OK3PN4F-WMDVOVV-5CCUTB3-WBJB3WW-MJ6VOTG-2QAPXA3"></device>
        <device id="X4H2V4O-PJITKRJ-PPAQ55F-ISAX4ZK-OCGMVAO-AH25GSW-XS53MVJ-RMSKYQR"></device>
        <device id="YHHRXJT-ZUQQZTW-HEL2SF7-MZAI2J7-WHVFX2G-5GIQYGT-2DPH6ZS-Y3YGFAT"></device>
        <device id="YOO4LH4-WEZYDT3-L6CGCBG-LVMZB6E-KG5SERA-SXZIZ6Z-OFQXWCZ-H4GNXQU"></device>
        <device id="ZQ3JRT7-YAC2A6V-IBLNLOI-UF3EHXU-R73PDYW-DZF55GG-JIH6UQ4-NDMHFQ4"></device>
        <device id="2XVEINF-EGXOYRG-RA33OWZ-CHPFPUJ-7LV4SGB-7PXHH3R-GTYOG7V-DZHV4Q2"></device>
        <device id="2YACX57-RLEA2TC-VX3LNLB-R7475PD-6JTJGFR-MPKD3UB-UO5GWLM-A6SYIQU"></device>
        <device id="3PBEBRL-QR2QQ43-VQRDBM4-SJHTJZE-DPQ4AEW-L5U3YT5-V6X54VD-UVYKCQF"></device>
        <device id="3RSGHEM-DWPSJFG-PBOS6EL-RLKQAWD-VNEQ7WE-TZSK67R-ANMSTOK-ADUCTQX"></device>
        <device id="32TG4J7-YXIKHPF-O3VH3DI-G25WVUZ-3GIHVVV-MFCRNAC-YCXGWAH-PBAQUAM"></device>
        <device id="373HSRP-QLPNLIE-JYKZVQF-P4PKZ63-R2ZE6K3-YD442U2-JHBGBQG-WWXAHAU"></device>
        <device id="4DT7J2Z-YHBHWVS-XN7QDBA-2RJFSO2-GJDDC35-FCA54UT-KO7MWRY-GMINGQB"></device>
        <device id="4GWV64Q-VNM3WOK-C3CEJRP-DGCPC2F-63F7723-NJ27CA5-2KYCC2T-DUZZQQV"></device>
        <device id="4HVKGEP-4YZSGZV-BSM4N3B-ZJUYBYZ-4KXTMPT-BC7W4J2-VIVJOX7-XHR4DQN"></device>
        <device id="4H4HDTO-5MAZNGU-GDBJB6G-QUL3I4L-5MWO4IL-N37KZW3-U3GOLBK-M6FU3AR"></device>
        <device id="4KXXORE-7FFTW3M-J4QII4G-TTJVIYO-MOBOPE7-5XFVDEK-RD7LPP6-Y67YPQV"></device>
        <device id="4LFYJI6-EG3AXEJ-R4YBS4R-CU46CGH-KBDN5G2-LDOY3EM-AW34R25-6SITLQE"></device>
        <device id="4UVMFOQ-R3UJCQZ-BME5QSY-DVF66EX-NGO2R5E-N5TCLMS-LFXWUYA-7G74TQL"></device>
        <device id="4ZHSU3Z-FVUGVUU-35OZYRB-VDBPAS4-LFRVP74-RHTZXHF-MWS4QZB-GSYZDAK"></device>
        <device id="46Z5HDW-S5EVL3A-3M7JACM-7CW2RH2-WERSWC2-ZTIIZBG-7S3K6IT-X4R2BQS"></device>
        <device id="5A7PNGT-W6GAFOL-MO6IRFV-LP5XARS-3WTCF3E-IBPNDD4-RSN25IW-2GDEZQ5"></device>
        <device id="5PEHGGE-FSLBU4F-ZAJNEH3-U5Y2Q2L-TPP6JZM-S5JHUBW-BSXYM3O-EUBPNQK"></device>
        <device id="5SBJQRJ-JFAZFMJ-3JYTLUV-S3QQPB3-HU3Z3IK-G2SALTZ-4I2FBJB-GMUKCQ5"></device>
        <device id="6A3RD5U-VYFL4E5-AK3GN5H-6HHUVK3-BB3EYTL-R4EV4LQ-RRCECFP-KHN5KQR"></device>
        <device id="62RVNHX-BQKLP5T-IXGRHVX-6YIJ2FP-VZAGK75-AJYQXYV-A2J772N-T35XAAO"></device>
        <device id="66DQJM7-DBZZI2E-RP72CFL-D4LFO5Q-6G7HZV4-XHPQ7PX-4ZPG46D-7H3DGQ6"></device>
        <device id="7GBZTAA-JIJPWOY-KV7NH2G-76WQ636-CTKZHO6-7TP4LHQ-AMLTH63-EEEBCA6"></device>
        <device id="7N6N4LW-VCXRQ36-UVA655U-ZPEIXHQ-QYMBXS6-MUWNHVO-RCMUPNY-BGPQKQ3"></device>
        <device id="7UHTNVM-SNHPHXS-NNNQQ3Y-ZQXMMRF-YK6Y6MO-VSZIKRE-3ODRD44-HDCPPQZ"></device>
        <device id="72IVZNA-G6FSQRO-2KROJN4-6MYHQVP-UFGE3ER-RIERM2K-2NS7AZW-B5U7IQL"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressInterval>0</scanProgressInterval>
    </folder>
    <folder id="s12" path="s12-2" ro="false" rescanIntervalS="15" ignorePerms="false" autoNormalize="true">
        <device id="I6KAH76-66SLLLB-5PFXSOA-UFJCDZC-YAOMLEK-CP2GB32-BV5RQST-3PSROAU"></device>
        <device id="JMFJCXB-GZDE4BN-OCJE3VF-65GYZNU-AIVJRET-3J6HMRQ-AUQIGJO-FKNHMQU"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressInterval>0</scanProgressInterval>
    </folder>
    <folder id="s23" path="s23-2" ro="false" rescanIntervalS="15" ignorePerms="false" autoNormalize="true">
        <device id="JMFJCXB-GZDE4BN-OCJE3VF-65GYZNU-AIVJRET-3J6HMRQ-AUQIGJO-FKNHMQU"></device>
        <device id="373HSRP-QLPNLIE-JYKZVQF-P4PKZ63-R2ZE6K3-YD442U2-JHBGBQG-WWXAHAU"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressInterval>0</scanProgressInterval>
    </folder>
    <device id="AGTUOYD-75LBL6P-D7BQ5AU-MS7LGWV-L3JK2WL-ZDH6JHU-WP5FW3B-7LCI4QY" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="A4I7HOE-LG37CUP-75BBW6C-3GQAJD3-A62J3JH-27WP6HP-ANRO4CV-DJXGQQP" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="BWUC5LF-EJKUDG5-5BWIGW7-6EUSVTP-SQQKE7N-34BMF4S-MEYKVSF-GKYLZQM" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="B5EYIHZ-G2BCQW7-XUYLFAM-EKL357E-34A7FPI-BJEVUBQ-FM3RYZV-B4VXMAN" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="CYY7EXF-FETEWLN-NECQLHQ-7AKTZBF-ZIF6UDA-JX5BBCS-P57PWDH-HZ4SPAG" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="DTD5YM7-N2ROWRG-XGUQAMF-LEX4L7R-IMITENY-ITRZ6B6-EG6EM5G-NPLTXQM" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="EF2IQCX-PJABWXR-PGWKWCB-UWFXRLS-HMAPMKS-DM3FL6P-EGGUZHI-QD7SZQ2" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="ERCSTOP-JNNZZAP-5HRSMVN-ECMD2LW-SI2K3VG-DFAP6IF-DAQS2GU-B7YP5AS" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="E2JDJZU-L4TRV7U-BAOTAU3-DSQXAGQ-RPCHMPG-CRRLNPF-PESKALA-APMMKAG" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="E3INVD4-KAN74I6-Z62PKXX-TY5QQCV-ON3M6ZK-QLRQDAF-S72IJPA-M2QEBAF" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="GBLORYG-IUD2W35-LW6COXR-YDFKA4U-M3XYMC7-SPICRA5-AISFUP4-V6BP2QH" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="GCCMMBG-7AR3CI7-ZJFCHQX-JYNOLZM-M6IXCFZ-CDMTVSM-JFYPYW5-7M7VBQE" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="GF7TM5G-KMZGJIK-EQIT2SJ-3SIF2OD-TAZT7SZ-GBAQTYU-MPKVRNO-CHFCOQF" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="G7RASRK-VPN3EX5-4P4T3HC-FAIYTGZ-EC2447Q-N4U3LTX-2AWDRNV-5GCAIQF" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="HUQOKQF-TN7NOYA-QVOD3XM-IVOFXL3-VBMGT3I-ISAU3IK-F4R53AL-LW7DIAS" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="HXQ3LT2-WSVAJ3A-GJ5I5ZH-IWDP5GI-S3GS4OA-PXN4P3Q-OW2PII3-VGFMYQS" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="H3D2DBW-MMTLPFW-G3CRCW4-3NSCRPW-VBDHORV-FLKDI42-G6PWOCJ-PWR3RAR" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="ITEQQDN-LEHJEOC-VTDGVJZ-SLBPHWQ-UQBKVGR-ZOVTWIQ-DJKDICL-7R3MXAC" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="IUYSY3R-AXDNEIY-LAO6NXI-I5MKA43-KZPLJRN-3VEIQBH-HNIDNPM-EKBPHQZ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="I6KAH76-66SLLLB-5PFXSOA-UFJCDZC-YAOMLEK-CP2GB32-BV5RQST-3PSROAU" name="s1" compression="metadata" introducer="false">
        <address>tcp://127.0.0.1:22001</address>
    </device>
    <device id="I6WZWWW-UYLBFET-PT6ZKYD-7HHMMG5-6OL32VC-BGIRMXF-X3SVOOJ-6X6NCAA" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="JEDEAZS-2XG6PBK-XH6YO7A-MIJDGVJ-T5F5K2U-54B7FGX-3LSE276-TS4OPAA" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="JMFJCXB-GZDE4BN-OCJE3VF-65GYZNU-AIVJRET-3J6HMRQ-AUQIGJO-FKNHMQU" name="s2" compression="metadata" introducer="false">
        <address>tcp://127.0.0.1:22002</address>
    </device>
    <device id="JWOQKQO-7P4PIC2-S5FSWKL-W7PLCEX-CKGPWC4-K4JIMBN-SXVJ7A7-4B3SBAV" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="JXD7CKH-CJSCY5H-WPHWGX5-GVX4756-ETN5V75-TUSMNWA-U4CMZKL-SUIECQA" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="KBF6UC5-EPITJYZ-X44J3HA-T4FQI2S-YQDJKWR-LAN4DHR-3U5IITU-DXKIHQV" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="K6SK7XX-G4FULRB-SH5K2TI-6D6XH7F-JD4WWGO-M27HIDN-SP42GV6-4ZXRPAA" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="LCRQQLB-DDHHZYP-I3AOYJV-QM4PVGA-EWXIOOV-MPOWD4O-D2SEJJR-REVCEAG" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="LE326EH-B2YGJM7-GZPNLBA-5VCP56V-7E3YXR5-6AWYHH7-7D7RM7U-W4UWWAF" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="L3O24ND-FZJV3YJ-ENMNFCR-37JGV3O-SJFJ7QS-DF5Q2PZ-6HCMOTN-SBR6XAC" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="MIPR4A5-RSTWR5H-TQMC2U7-42ALC53-4XJM4JS-SFNWOVJ-IXRSXFG-YDVKJAR" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="MLRYMG7-GXGHVI4-XMUKXFM-O5S47ZK-HA5EEO5-PBZHOBB-XDWVCWY-NHUCHAB" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="MR2JU7Z-H4ZV2RB-EKXLZKH-FKHMOZE-7D2TBKZ-Y74VF6G-KZQXSP2-IQQQAAJ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="MWY74KM-POEQ3FU-2YL6RPG-WYNPGC4-DYPQGD7-Y5YVNXM-VHOVUIZ-55XKQAV" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="M4XUDLI-SSGNKGQ-4MF5Y6G-PHWORVZ-DOC32T7-OHSNSDL-DUL35BS-7JOK6QG" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="M5DLJSZ-JUZFWU2-IG5A4YM-KJOY3CM-4VGKZ5J-3T6W2U4-Q2OU5YX-4WYSDAH" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="NBBGMT5-WNFEVJY-O4OJOCW-TP6DRZ7-ANYOLHV-VM7FZAW-MEWDMG4-JGG2SQJ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="NLZPNMD-5YVISJK-IFHJ34M-NVEPECF-UXQS76N-FGHDAJV-UBWQXKB-U6TYYAQ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="NYXFPET-DC2EEJF-J5OCH2M-SQMDECI-6YIKFTV-GH33KQL-5P6KBJE-OWHBWAO" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="OCWOORB-VATNSFB-QHVMLT7-X3QV57K-Q3BUZX5-OGFWFKU-HN5BHN2-TJXF6QU" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="ODTJXGL-X7K34PU-6BMRZMH-ILV2Y3N-ARIYV7Y-PMYBT32-Y2VKNBR-QPINRA2" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="OT4BAAF-ZS5FS5B-JLYNOUM-HCFQWCT-OCVIRAO-GDLKTQE-X7RPNZI-M2HCNAX" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="OWPGT5M-5OJXFW6-P4FJFGC-H6CJSU4-DA2CNIB-4QRYYYU-UZ3AKAD-WYXBRAZ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="OWPUKMW-FXENNYN-7MQCX3X-67XCUKQ-AUVMN2C-F3SUGFX-26BFYVV-OMW5AQE" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="OXM6SFB-FD3AZM2-QHJBR5Y-6STJHI6-WF5JERD-TZEYHPK-LDPXYVN-AJKR2QO" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="OYKHZXE-MOLBHOE-KVETLTB-Y54RWWS-F2HAJGE-GGXQLTM-NJVSP47-3POLZQQ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="O4PERHF-WHQ37EL-FT7HYBW-VBGCIS3-YQ3COL2-U5ZGEXM-EL5FSSM-ZP56ZQ6" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="O6VSA2Z-7VCLERR-EKS2GXJ-BWT4LX3-Y74EC6Y-NEGCYV4-EQGK4PQ-NP7ISQS" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="P4V5NMO-73JLLCG-NBYG3C3-OF7MWFV-IVUQQWA-UQ3KBB6-JPJSCK3-RAS57QG" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="P577DBJ-ITUNQII-WMHA3UY-6WAVP2P-IAP572Z-LEM6YD5-OMEBTFY-YM4X3A3" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="QCD5RQP-ZQSFLO4-2RQGLW7-YKA6TDN-MXB6O3M-4PFPQNH-JZBL2N7-RGQOZAP" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="QREAA37-ICZFMS7-FVNGF7M-2JYMFKY-YSDPWGC-C4BZBC7-75L5ZJR-FVJU2AK" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="QRIW57C-WKTEK2K-ID6O2MJ-ZE6NPWI-O6PQGW3-FJFYNXR-DFZJBQG-KNOSQQA" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="Q3YKNQJ-IXKUX26-SDHK3BZ-35VHPEP-EJZAZEY-OHGWAU7-UKOALGG-SRZKUQB" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="RPUIMSU-AHFXCTJ-7KDARKR-FLG2SGO-ESKJM4W-UPIKKIS-TBE54TS-IO7H4A2" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="SFI5L36-DZWIMOH-2NQFA4M-PRXMOK5-KWEVXUX-4S275DG-VYQGGL6-SYCBHAU" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="SIFTJDC-TFXN3UO-R4OU5SU-QLWQI6S-GOVK2W7-5FIRXMT-NDQDEOS-QKRNKAW" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="S265B7B-7EQMTSW-OJPIY4M-DQIXWSI-KLLY3F7-UV6HXV2-S4T7QAZ-EH5HFQP" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="S6NYHHM-ESHLKLA-OXMV67M-DVXHJ4E-V25L4SX-XYFTAK5-U3AKOYA-HPD4VQI" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="TG2IQLL-TE7EGZT-AS4ALGD-DLSQTDV-I25MZA6-2DNKP4B-22W3BKD-2KABIQM" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="UOXOO6P-3622WV5-3HQYM6K-GUQCWRC-ACOPLM4-2YQZWOP-SEFZ2EO-UDZBYQ5" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="UPY5OKV-B45WUHF-7CBOU2P-PH4LZWW-3EDTER7-CFDVWC2-E36X6GV-YIIFPQ5" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="UWGJS6X-HSQ4HES-BPK7YEP-56ADS6K-ZUOENVG-LN3MV63-WWTZUW2-CV5GHAU" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="VGDXYCT-UO7OITX-CGDJFEP-L6ZINSG-AYCCRO6-7GPKIMV-HD6CQFI-YOEJTQI" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="VU2UR7B-LRPMF5W-J445QXA-MODPRZR-SAWQCFG-DMMQXOO-BLFIZXM-A7U4TAV" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="WNYCYQB-Q5YIKPA-D5MAGBM-P2JPZAW-P76Z7HS-UZAQXC7-OVNFBA2-6ER5FAK" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="W6EB223-K4GVWRO-FJEDWXD-7DPWXBR-JVYUURK-ORUK7LA-CZTET3T-A5AX6AC" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="XAVVLUZ-2TRR2FG-5LQIOGK-DQ4KWKZ-LVFR2XU-R7Z3RNF-T2BVMS5-WB7BYA7" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="XBCCE5D-L25CJXJ-R7R6P5D-5SFN6NH-25OMLPF-6MWZBXP-6AB7YKS-NTOMLAZ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="XHRWIUQ-3B3XUMB-ZZLVZ4B-WPBJ4DI-HOJ45ML-ISHX6RG-Q6U75IP-2JTDXQ5" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="XQYUAOQ-23CLCOK-OK3PN4F-WMDVOVV-5CCUTB3-WBJB3WW-MJ6VOTG-2QAPXA3" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="X4H2V4O-PJITKRJ-PPAQ55F-ISAX4ZK-OCGMVAO-AH25GSW-XS53MVJ-RMSKYQR" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="YHHRXJT-ZUQQZTW-HEL2SF7-MZAI2J7-WHVFX2G-5GIQYGT-2DPH6ZS-Y3YGFAT" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="YOO4LH4-WEZYDT3-L6CGCBG-LVMZB6E-KG5SERA-SXZIZ6Z-OFQXWCZ-H4GNXQU" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="ZQ3JRT7-YAC2A6V-IBLNLOI-UF3EHXU-R73PDYW-DZF55GG-JIH6UQ4-NDMHFQ4" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="2XVEINF-EGXOYRG-RA33OWZ-CHPFPUJ-7LV4SGB-7PXHH3R-GTYOG7V-DZHV4Q2" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="2YACX57-RLEA2TC-VX3LNLB-R7475PD-6JTJGFR-MPKD3UB-UO5GWLM-A6SYIQU" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="3PBEBRL-QR2QQ43-VQRDBM4-SJHTJZE-DPQ4AEW-L5U3YT5-V6X54VD-UVYKCQF" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="3RSGHEM-DWPSJFG-PBOS6EL-RLKQAWD-VNEQ7WE-TZSK67R-ANMSTOK-ADUCTQX" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="32TG4J7-YXIKHPF-O3VH3DI-G25WVUZ-3GIHVVV-MFCRNAC-YCXGWAH-PBAQUAM" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="373HSRP-QLPNLIE-JYKZVQF-P4PKZ63-R2ZE6K3-YD442U2-JHBGBQG-WWXAHAU" name="s3" compression="metadata" introducer="false">
        <address>tcp://127.0.0.1:22003</address>
    </device>
    <device id="4DT7J2Z-YHBHWVS-XN7QDBA-2RJFSO2-GJDDC35-FCA54UT-KO7MWRY-GMINGQB" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4GWV64Q-VNM3WOK-C3CEJRP-DGCPC2F-63F7723-NJ27CA5-2KYCC2T-DUZZQQV" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4HVKGEP-4YZSGZV-BSM4N3B-ZJUYBYZ-4KXTMPT-BC7W4J2-VIVJOX7-XHR4DQN" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4H4HDTO-5MAZNGU-GDBJB6G-QUL3I4L-5MWO4IL-N37KZW3-U3GOLBK-M6FU3AR" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4KXXORE-7FFTW3M-J4QII4G-TTJVIYO-MOBOPE7-5XFVDEK-RD7LPP6-Y67YPQV" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4LFYJI6-EG3AXEJ-R4YBS4R-CU46CGH-KBDN5G2-LDOY3EM-AW34R25-6SITLQE" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4UVMFOQ-R3UJCQZ-BME5QSY-DVF66EX-NGO2R5E-N5TCLMS-LFXWUYA-7G74TQL" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4ZHSU3Z-FVUGVUU-35OZYRB-VDBPAS4-LFRVP74-RHTZXHF-MWS4QZB-GSYZDAK" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="46Z5HDW-S5EVL3A-3M7JACM-7CW2RH2-WERSWC2-ZTIIZBG-7S3K6IT-X4R2BQS" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="5A7PNGT-W6GAFOL-MO6IRFV-LP5XARS-3WTCF3E-IBPNDD4-RSN25IW-2GDEZQ5" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="5PEHGGE-FSLBU4F-ZAJNEH3-U5Y2Q2L-TPP6JZM-S5JHUBW-BSXYM3O-EUBPNQK" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="5SBJQRJ-JFAZFMJ-3JYTLUV-S3QQPB3-HU3Z3IK-G2SALTZ-4I2FBJB-GMUKCQ5" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="6A3RD5U-VYFL4E5-AK3GN5H-6HHUVK3-BB3EYTL-R4EV4LQ-RRCECFP-KHN5KQR" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="62RVNHX-BQKLP5T-IXGRHVX-6YIJ2FP-VZAGK75-AJYQXYV-A2J772N-T35XAAO" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="66DQJM7-DBZZI2E-RP72CFL-D4LFO5Q-6G7HZV4-XHPQ7PX-4ZPG46D-7H3DGQ6" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="7GBZTAA-JIJPWOY-KV7NH2G-76WQ636-CTKZHO6-7TP4LHQ-AMLTH63-EEEBCA6" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="7N6N4LW-VCXRQ36-UVA655U-ZPEIXHQ-QYMBXS6-MUWNHVO-RCMUPNY-BGPQKQ3" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="7UHTNVM-SNHPHXS-NNNQQ3Y-ZQXMMRF-YK6Y6MO-VSZIKRE-3ODRD44-HDCPPQZ" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="72IVZNA-G6FSQRO-2KROJN4-6MYHQVP-UFGE3ER-RIERM2K-2NS7AZW-B5U7IQL" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <gui enabled="true" tls="false">
        <address>127.0.0.1:8082</address>
        <apikey>abc123</apikey>
    </gui>
    <options>
        <listenAddress>tcp://127.0.0.1:22002</listenAddress>
        <globalAnnounceServer>udp4://announce.syncthing.net:22027</globalAnnounceServer>
        <globalAnnounceServer>udp6://announce-v6.syncthing.net:22027</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21025</localAnnouncePort>
        <localAnnounceMCAddr>[ff12::8384]:21027</localAnnounceMCAddr>
        <relayServer>dynamic+https://relays.syncthing.net</relayServer>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>5</reconnectionIntervalS>
        <relaysEnabled>true</relaysEnabled>
        <relayReconnectIntervalM>10</relayReconnectIntervalM>
        <relayWithoutGlobalAnn>false</relayWithoutGlobalAnn>
        <startBrowser>false</startBrowser>
        <upnpEnabled>true</upnpEnabled>
        <upnpLeaseMinutes>0</upnpLeaseMinutes>
        <upnpRenewalMinutes>1</upnpRenewalMinutes>
        <upnpTimeoutSeconds>10</upnpTimeoutSeconds>
        <urAccepted>-1</urAccepted>
        <urUniqueID></urUniqueID>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>true</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <symlinksEnabled>true</symlinksEnabled>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <databaseBlockCacheMiB>0</databaseBlockCacheMiB>
        <pingTimeoutS>30</pingTimeoutS>
        <pingIdleTimeS>60</pingIdleTimeS>
        <minHomeDiskFreePct>1</minHomeDiskFreePct>
    </options>
</configuration>
