Package: syncthing
Version: {{.version}}
Priority: optional
Section: net
Architecture: {{.arch}}
Depends: libc6, procps
Homepage: https://syncthing.net/
Maintainer: Syncthing Release Management <release@syncthing.net>
Description: Open Source Continuous File Synchronization
 Syncthing is an application that lets you synchronize your files across
 multiple devices. This means the creation, modification or deletion of files
 on one machine will automatically be replicated to your other devices. We
 believe your data is your data alone and you deserve to choose where it is
 stored. Therefore Syncthing does not upload your data to the cloud but
 exchanges your data across your machines as soon as they are online at the
 same time.
