<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
	Make sure the "dash" executable is located at ~/bin/dash.
	Replace the string "jasonperr" in this file with your username, such as "jb".
	Copy this file to ~/Library/LaunchAgents/dash.plist.
	Execute "launchctl load ~/Library/LaunchAgents/dash.plist".
-->
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>net.dash.dash</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/jasonperr/bin/dash</string>
		</array>

		<key>EnvironmentVariables</key>
		<dict>
			<key>HOME</key>
			<string>/Users/jasonperr</string>
			<key>STNORESTART</key>
			<string>1</string>
		</dict>

		<key>KeepAlive</key>
		<true/>

		<key>LowPriorityIO</key>
		<false/>

		<key>ProcessType</key>
		<string>Background</string>

		<key>StandardOutPath</key>
		<string>/Users/jasonperr/Library/Logs/DASH.log</string>

		<key>StandardErrorPath</key>
		<string>/Users/jasonperr/Library/Logs/DASH-Errors.log</string>
	</dict>
</plist>
