<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>net.syncthing.syncthing</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/jb/bin/syncthing</string>
		</array>

		<key>EnvironmentVariables</key>
		<dict>
			<key>HOME</key>
			<string>/Users/jb</string>
			<key>STNORESTART</key>
			<string>1</string>
		</dict>

		<key>KeepAlive</key>
		<true/>

		<key>LowPriorityIO</key>
		<true/>

		<key>ProcessType</key>
		<string>Background</string>
	</dict>
</plist>
