[Unit]
Description=Syncthing relay server
After=network.target

[Service]
User=syncthing-strelaysrv
Group=syncthing-strelaysrv
ExecStart=/usr/bin/strelaysrv
WorkingDirectory=/var/lib/syncthing-strelaysrv

PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
