[Unit]
Description=Syncthing service

[Service]
Environment=STARGS=
EnvironmentFile=-%h/.config/syncthing/environment
Environment=STNORESTART=yes
ExecStart=/usr/bin/syncthing ${STARGS}
Restart=on-failure

[Install]
WantedBy=cmdline.target
