/* =============================================================================
 *   Open Sans font
 * ========================================================================== */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('opensans/OpenSans-Regular-webfont.eot');
  src: url('opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans/OpenSans-Regular-webfont.woff') format('woff'),
       url('opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('opensans/OpenSans-Italic-webfont.eot');
  src: url('opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans/OpenSans-Italic-webfont.woff') format('woff'),
       url('opensans/OpenSans-Italic-webfont.ttf') format('truetype'),
       url('opensans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('opensans/OpenSans-Bold-webfont.eot');
  src: url('opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans/OpenSans-Bold-webfont.woff') format('woff'),
       url('opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('opensans/OpenSans-BoldItalic-webfont.eot');
  src: url('opensans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans/OpenSans-BoldItalic-webfont.woff') format('woff'),
       url('opensans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
       url('opensans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
