.full-width-table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.folder-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.folder-row:not(.folder-row):active {
  background: #efefef;
}

.folder-row td {
  border-bottom-width: 0;
}

.folder-detail {
  overflow: hidden;
  display: flex;
}

.folder-devices {
  padding-bottom: 16px;
}

.device-name:not(:first-child) {
  margin-left: -.3em;  
}

// Hide empty name
.device-name:empty {
  display: none;
}

.device-name:not(:first-child):before {
  content: ", ";
}