<!-- File browser -->

<div ng-controller="BrowseController as BC">
  <div class="panel panel-default">
    <div class="panel-heading" style="white-space: nowrap; overflow: auto;">
      <span ng-repeat="dir in BC.browse.pathParts">
        <button class="btn btn-sm btn-default" ng-click="BC.navigate(BC.folder.id, dir.prefix)">
          {{dir.name}}
        </button>
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-striped table-center table-auto">
        <tbody>
          <tr ng-repeat="fm in BC.fileMatches">
            <td class="col-fixed">
              <button type="button" class="btn btn-xs btn-default" ng-click="BC.toggle(fm)">
                <span ng-if="fm.matches.length > 0 && !fm.matches[0].isNegated"><span class="fas fa-fw fa-minus-circle"></span></span>
                <span ng-if="fm.matches.length > 0 && fm.matches[0].isNegated"><span class="fas fa-fw fa-plus-circle"></span></span>
                <span ng-if="fm.matches.length === 0"><span class="fas fa-fw fa-circle-o"></span></span>
              </button>
            </td>
            <th class="col-flex">
              <span ng-if="fm.file.isFile">
                <span class="fas fa-fw fa-file-o"></span>&nbsp;{{fm.file.name}}
              </span>
              <a ng-if="!fm.file.isFile" class="fill-parent" ng-click="BC.navigate(BC.folder.id, fm.file.path)">
                <span class="fas fa-fw fa-folder"></span>&nbsp;{{fm.file.name}}
              </a>
            </th>
            <td class="col-fixed text-right"><span ng-if="fm.file.isFile">{{fm.file.modifiedAt.fromNow()}}</span></td>
            <td class="col-fixed text-right"><span ng-if="fm.file.isFile">{{fm.file.size | binary}}B</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
