<div class="col-md-6 checkbox">
  <label for="sharedwith-{{device.deviceID}}">
    <input id="sharedwith-{{device.deviceID}}" ng-model="currentFolder.selectedDevices[device.deviceID]" type="checkbox" />
    {{deviceName(device)}}
  </label>
</div>
<div class="col-md-6">
  <div class="input-group">
    <span class="input-group-addon" ng-switch="!currentFolder.encPWs[device.deviceID] || currentFolder.encPWs[device.deviceID] === ''">
      <span ng-switch-when='true' class="fas fa-fw fa-unlock" />
      <span ng-switch-when='false' class="fas fa-fw fa-lock" />
    </span>
    <span ng-switch="currentFolder.type === 'encrypted'">
      <span ng-switch-when='true'>
        <input class="form-control input-sm" type="password" placeholder="{{'folder is encrypted' | translate}}" disabled />
      </span>
      <span ng-switch-when='false' ng-switch="currentFolder.selectedDevices[device.deviceID]">
        <span ng-switch-when='true'>
          <input class="form-control input-sm" id="enc-pw-{{device.deviceID}}" type="password" ng-model="currentFolder.encPWs[device.deviceID]" placeholder="{{'enter password to encrypt' | translate}}" />
        </span>
        <span ng-switch-default>
          <input class="form-control input-sm" type="password" placeholder="{{'not shared' | translate}}" disabled />
        </span>
      </span>
    </span>
    <span class="input-group-addon">
      <span class="button fas fa-fw fa-eye" ng-click="togglePW('enc-pw-' + device.deviceID)" />
    </span>
  </div>
</div>
