<modal id="folderPicker" status="default" icon="fa fa-folder-open" heading="{{'Select Folder' | translate}}" large="yes"
       closeable="yes">
  <div class="modal-body" ng-controller="FolderPickerModalController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="currentPath" ng-change="updateDirectoryList()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="navigateUp()">
              <span class="fa fa-level-up"></span>
            </button>
          </span>
        </div>
      </div>

      <div class="panel-body">
        <div class="list-group directory-list">
          <a href="#" class="list-group-item" ng-repeat="directory in directories track by $index"
             ng-click="navigateTo(directory)">
            <span class="fa fa-folder"></span>
            <span>{{ formatDirectoryName(directory) }}</span>
          </a>
          <div class="list-group-item" ng-if="directories.length === 0">
            <span translate>No subdirectories found</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
      <span class="fa fa-times"></span>&nbsp;<span translate>Cancel</span>
    </button>
    <button type="button" class="btn btn-primary btn-sm" id="folderPickerSelect">
      <span class="fa fa-check"></span>&nbsp;<span translate>Select</span>
    </button>
  </div>
</modal>