<div class="dropdown pull-right">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
    <span ng-if="!restoreVersions.selections[key]" translate>Do not restore</span>
    <span ng-if="restoreVersions.selections[key]">{{ restoreVersions.selections[key] | date:"yyyy/MM/dd HH:mm:ss" }}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="#" ng-click="restoreVersions.selections[key] = undefined" translate>Do not restore</a>
    </li>
    <li ng-repeat="version in restoreVersions.filterVersions(restoreVersions.versions[key])">
      <a href="#" ng-click="restoreVersions.selections[key] = version.versionTime">
        {{ version.versionTime | date:"yyyy/MM/dd HH:mm:ss" }} {{ version.size | binary }}B
      </a>
    </li>
  </ul>
</div>
