.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
 }

.center {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
}

.title {
  font-size: calc(0.5rem + 0.625vw);
  display:none;
}

.count-total {
  font-size: calc(1rem + 0.625vw);
}

.large-count-total {
  font-size: calc(0.5rem + 0.625vw);
}

@media (max-width: 800px) {
  .count-total {
   font-size: calc(1.00rem + 0.625vw);
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .title {
   font-size: calc(0.35rem + 0.625vw);
  }

  .count-total {
   font-size: calc(1.35rem + 0.625vw);
  }
}

@media (min-width:1000px) {
  .title {
    display: inline;
  }
}