<configuration version="2">
    <folder id="default" directory="s2" ro="false" ignorePerms="false">
        <device id="I6KAH76-66SLLLB-5PFXSOA-UFJCDZC-YAOMLEK-CP2GB32-BV5RQST-3PSROAU"></device>
        <device id="JMFJCXB-GZDE4BN-OCJE3VF-65GYZNU-AIVJRET-3J6HMRQ-AUQIGJO-FKNHMQU"></device>
        <versioning type="simple">
            <param key="keep" val="5"></param>
        </versioning>
    </folder>
    <device id="I6KAH76-66SLLLB-5PFXSOA-UFJCDZC-YAOMLEK-CP2GB32-BV5RQST-3PSROAU" name="f1">
        <address>127.0.0.1:22001</address>
    </device>
    <device id="JMFJCXB-GZDE4BN-OCJE3VF-65GYZNU-AIVJRET-3J6HMRQ-AUQIGJO-FKNHMQU" name="f2">
        <address>127.0.0.1:22002</address>
    </device>
    <gui enabled="true" tls="false">
        <address>127.0.0.1:8082</address>
        <apikey>abc123</apikey>
    </gui>
    <options>
        <listenAddress>127.0.0.1:22002</listenAddress>
        <globalAnnounceServer>announce.syncthing.net:22026</globalAnnounceServer>
        <globalAnnounceEnabled>false</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21025</localAnnouncePort>
        <parallelRequests>16</parallelRequests>
        <maxSendKbps>0</maxSendKbps>
        <rescanIntervalS>15</rescanIntervalS>
        <reconnectionIntervalS>5</reconnectionIntervalS>
        <maxChangeKbps>10000</maxChangeKbps>
        <startBrowser>false</startBrowser>
        <upnpEnabled>false</upnpEnabled>
        <urAccepted>-1</urAccepted>
    </options>
</configuration>
