<!--
<notification id='exampleNotification'>
  <div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title"><span class="fas fa-exclamation-circle"></span><span translate>Notice</span></h3></div>
    <div class="panel-body">
      <p translate>This is an example notification. ID of the notification should be appended to Options.UnackedNotificationIDs of the config.</p>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-sm btn-default pull-right" ng-click="dismissNotification('exampleNotification')">
        <span class="fas fa-check"></span>&nbsp;<span translate>OK</span>
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</notification>
-->

<notification id="channelNotification">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fas fa-bolt"></span>&nbsp;<span translate>Automatic upgrades</span></h3>
    </div>
    <div class="panel-body">
      <p translate>Automatic upgrade now offers the choice between stable releases and release candidates.</p>
      <p>
        <span translate>Release candidates contain the latest features and fixes. They are similar to the traditional bi-weekly Syncthing releases.</span>
        <span translate>Stable releases are delayed by about two weeks. During this time they go through testing as release candidates.</span>
        <span translate>You can read more about the two release channels at the link below.</span>
      </p>
      <p translate>You can change your choice at any time in the Settings dialog.</p>
      <p><a href="{{docsURL('users/releases')}}"><span class="fas fa-info-circle"></span>&nbsp;<span translate>Learn more</span></a></p>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-sm btn-default pull-right" ng-click="showSettings(); dismissNotification('channelNotification')">
        <span class="fas fa-cog"></span>&nbsp;<span translate>Settings</span>
      </button>
      <button type="button" class="btn btn-sm btn-default" ng-click="dismissNotification('channelNotification')">
        <span class="fas fa-check"></span>&nbsp;<span translate>OK</span>
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</notification>

<notification id="fsWatcherNotification">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fas fa-bolt"></span>&ensp;<span translate>Watching for Changes</span></h3>
    </div>
    <div class="panel-body">
      <p translate>Continuously watching for changes is now available within Syncthing. This will detect changes on disk and issue a scan on only the modified paths. The benefits are that changes are propagated quicker and that less full scans are required.</p>
      <p><a href="{{docsURL('users/syncing#scanning')}}"><span class="fas fa-info-circle"></span>&nbsp;<span translate>Learn more</span></a></p>
      <p>
        <span translate>Do you want to enable watching for changes for all your folders?</span><br />
        <span translate>Additionally the full rescan interval will be increased (times 60, i.e. new default of 1h). You can also configure it manually for every folder later after choosing No.</span>
      </p>
      <p translate translate-value-syncthing-inotify="syncthing-inotify">Warning: If you are using an external watcher like {%syncthingInotify%}, you should make sure it is deactivated.</p>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-primary btn-sm" ng-click="activateAllFsWatchers(); dismissNotification('fsWatcherNotification')">
          <span class="fas fa-check"></span>&nbsp;<span translate>Yes</span>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="dismissNotification('fsWatcherNotification')">
          <span class="fas fa-times"></span>&nbsp;<span translate>No</span>
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</notification>

<notification id="crAutoEnabled">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fas fa-bolt"></span>&ensp;<span translate>Automatic Crash Reporting</span></h3>
    </div>
    <div class="panel-body">
      <p translate>Syncthing now supports automatically reporting crashes to the developers. This feature is enabled by default.</p>
      <p><a href="{{docsURL('users/crashrep')}}"><span class="fas fa-info-circle"></span>&nbsp;<span translate>Learn more</span></a></p>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-danger" ng-click="setCrashReportingEnabled(false); dismissNotification('crAutoEnabled')">
          <span class="fas fa-times"></span>&nbsp;<span translate>Disable Crash Reporting</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="dismissNotification('crAutoEnabled')">
          <span class="fas fa-check"></span>&nbsp;<span translate>OK</span>
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</notification>

<notification id="crAutoDisabled">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fas fa-bolt"></span>&ensp;<span translate>Automatic Crash Reporting</span></h3>
    </div>
    <div class="panel-body">
      <p translate>Syncthing now supports automatically reporting crashes to the developers. This feature is enabled by default.</p>
      <p translate>However, your current settings indicate you might not want it enabled. We have disabled automatic crash reporting for you.</p>
      <p><a href="{{docsURL('users/crashrep')}}"><span class="fas fa-info-circle"></span>&nbsp;<span translate>Learn more</span></a></p>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-success" ng-click="setCrashReportingEnabled(true); dismissNotification('crAutoDisabled')">
          <span class="fas fa-check"></span>&nbsp;<span translate>Enable Crash Reporting</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="dismissNotification('crAutoDisabled')">
          <span class="fas fa-times"></span>&nbsp;<span translate>OK</span>
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</notification>

<notification id="authenticationUserAndPassword">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fas fa-bolt"></span>&nbsp;<span translate>GUI Authentication: Set User and Password</span></h3>
    </div>
    <div class="panel-body">
      <p>
        <span translate>Username/Password has not been set for the GUI authentication. Please consider setting it up.</span>
      </p>
      <p>
        <span translate>If you want to prevent other users on this computer from accessing Syncthing and through it your files, consider setting up authentication.</span>
      </p>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-sm btn-default pull-right" ng-click="showSettings()">
        <span class="fas fa-cog"></span>&nbsp;<span translate>Settings</span>
      </button>
      <button type="button" class="btn btn-sm btn-default pull-left" ng-click="dismissNotification('authenticationUserAndPassword')">
        <span class="fa fa-check-circle"></span>&nbsp;<span translate>OK</span>
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</notification>
