<configuration version="2">
    <repository id="default" directory="s1" ro="true" ignorePerms="false">
        <node id="I6KAH7666SLLL5PFXSOAUFJCDZYAOMLEKCP2GB3BV5RQST3PSROA"></node>
        <node id="JMFJCXBGZDE4BOCJE3VF65GYZNAIVJRET3J6HMRAUQIGJOFKNHMQ"></node>
        <versioning></versioning>
    </repository>
    <node id="I6KAH7666SLLL5PFXSOAUFJCDZYAOMLEKCP2GB3BV5RQST3PSROA" name="f1">
        <address>127.0.0.1:22001</address>
    </node>
    <node id="JMFJCXBGZDE4BOCJE3VF65GYZNAIVJRET3J6HMRAUQIGJOFKNHMQ" name="f2">
        <address>127.0.0.1:22002</address>
    </node>
    <gui enabled="true" tls="false">
        <address>127.0.0.1:8081</address>
        <apikey>abc123</apikey>
    </gui>
    <options>
        <listenAddress>127.0.0.1:22001</listenAddress>
        <globalAnnounceServer>announce.syncthing.net:22025</globalAnnounceServer>
        <globalAnnounceEnabled>false</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21025</localAnnouncePort>
        <parallelRequests>16</parallelRequests>
        <maxSendKbps>500</maxSendKbps>
        <rescanIntervalS>10</rescanIntervalS>
        <reconnectionIntervalS>5</reconnectionIntervalS>
        <maxChangeKbps>10000</maxChangeKbps>
        <startBrowser>false</startBrowser>
        <upnpEnabled>false</upnpEnabled>
        <urAccepted>-1</urAccepted>
    </options>
</configuration>
