<div class="grid-container" gdAreas="header header | folders devices | status-list status-list | footer footer"
  gdGap="16px" gdRows="auto auto auto">
  <div gdArea="header">
    <h1>Tech UI</h1>
  </div>
  <div gdArea="folders">
    <mat-card>
      <mat-card-title>Folders</mat-card-title>
      <mat-card-content>
        <app-donut-chart [elementID]="foldersChart"></app-donut-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div gdArea="devices">
    <mat-card>
      <mat-card-title>Devices</mat-card-title>
      <mat-card-content>
        <app-donut-chart [elementID]="devicesChart"></app-donut-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <app-status-list gdArea="status-list"></app-status-list>
  <div gdArea="footer">
  </div>
</div>