/* These don't get the default font size from the theme for whatever reason. */
.rst-content blockquote, .rst-content li, .rst-content dd, .rst-content dt, .rst-content th, .rst-content td {
	font-size: 18px !important;
	line-height: 27px !important;
}
/* The theme sets this to 75% which seems to small to me. */
.rst-content code {
	font-size: 95%;
}
/* Bring back some vertical spacing between bullet points. */
.rst-content li {
	margin-bottom: 14px;
}
/* Make block quotes stand out a bit more. */
.rst-content blockquote {
	border-left: 5px solid #f0f0f0;
	padding-left: 22px;
	margin-left: 0px;
}
.versionadded p {
	padding: 14px;
	background-color: rgb(231, 242, 250);
	color: rgb(41, 128, 185);
}
/* Add a strike-through class. */
.strike {
	text-decoration: line-through;
}
